@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Inter", sans-serif;
}

.ant-card .ant-card-actions>li{
  margin: 0;
}

.bannerSection {
  background: url(../images/banner_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.menuBar .menuBtn {
  border: none;
  font-weight: bold;
  margin: 0 20px;
}

.loginBtn {
  height: auto;
  border: none;
  color: #fff;
  padding: 10px 15px;
  background: #4f2e7f;
}

.loginBtn:hover {
  background: red !important;
}