@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Inter", sans-serif;
}

.ant-card .ant-card-actions > li {
  margin: 0;
}

.bannerSection {
  background: url(../images/banner_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.menuBar .menuBtn {
  border: none;
  font-weight: bold;
  margin: 0 20px;
}

.loginBtn {
  height: auto;
  border: none;
  color: #fff;
  padding: 10px 15px;
  background: #4f2e7f;
}

.loginBtn:hover {
  background: #8000dc !important;
  color: #fff !important;
}

.comboList {
  position: relative;
}

.comboList .ant-card {
  padding: 0;
  border-color: #999999;
  overflow: hidden;
}

.comboList .ant-card .ant-card-body {
  padding: 0;
}

.comboList .ant-card .ant-card-body .cardTitle {
  padding: 10px 5px;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  background: #502c7d;
  color: #ffffff;
}

.comboList .ant-card .ant-card-body .priceBox {
  padding: 5px;
  background: #733abd;
}

.comboList .ant-card .ant-card-body .conentBox ol {
  list-style: decimal;
  padding-left: 13px;
}

.comboList .ant-card .ant-card-body .conentBox .learnmorebtn,
.comboList .ant-card .ant-card-body .conentBox .buynowbtn {
  padding: 0;
  padding: 0;
  height: auto;
  border: none;
  border-radius: 0;
  width: 100px;
  line-height: 2.5;
  color: #fff;
}

.comboList .ant-card .ant-card-body .conentBox .learnmorebtn {
  background: #502c7d;
  margin-bottom: 10px;
}

.comboList .ant-card .ant-card-body .conentBox .learnmorebtn:hover {
  background: #733abd;
}

.comboList .ant-card .ant-card-body .conentBox .buynowbtn {
  background: #733abd;
}

.comboList .ant-card .ant-card-body .conentBox .buynowbtn:hover {
  background: #502c7d;
}
